# if you use pip to do installations, these are the dependencies

requests  # for all http connection
decorator  # to preserve introspection funcsig integrity
# tests are run with pytest, fixtures for tests as well
pytest
testfixtures
