# if you use pip to do installations, these are the dependencies

requests==1.1  # for all http connection
decorator==3.4.0  # to preserve introspection funcsig integrity
suds==0.4
# tests are run with pytest, fixtures for tests as well, Sphinx for documentation
pytest==2.2.4
testfixtures==2.3.5
Sphinx==1.1.3
